# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# requests&notes
/requests

node_modules
dist
# public
dist-ssr
*.local
*.yaml
*.nogit
.history
*.nogit.vue
*.nogit.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.history/
.history/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*._*
*._*.*
*._*.scss

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.code-workspace
*.sublime-project
prepros-6.config

/.env
/dist
src/testapi
/public/testapi
/public/nouse